html,

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: aliceblue;
}

.test {
    background-color: dodgerblue;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}


a-scene {
    height: 100%;
    width: 100%;
}

p {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
}

.textWrapper {
    padding-left: 50;
    padding-right: 50;
    padding-top: 40;
}

/*
BUTTONS
########################################################################
*/

.button {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    border: none;
    position: relative;
    box-sizing: border-box;
    transition: all 5ms ease;
    text-decoration: none;
}

.button:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    opacity: 1;
    height: 100%;
    background: dodgerblue;
    transition: all 1s ease;
}

.button:hover:before {
    width: 100%;
    opacity: 0;
}

.buttonText {
    color: black;
}
